/*icon dos boostrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/*font-family*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=VT323&display=swap');

*{
font-family: 'Lato', sans-serif;
overflow-x: hidden
/*font-family: 'VT323', monospace;*/
}
.bg-primary-color{
    background-color: #eee;
}

.bg-secondary-color{
    background-color: #ece8e2;
}

.bg-dark-color{
    background-color: #050505;
}
.primary-color{
    color: #050505;
}
.secondary-color{
    color:#7a7a7a;
}

#navbar{
    border-bottom: 1px solid #7a7a7a;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand img{
    width: 40px;
}
.navbar-brand span{
    margin-left: 20px;
    font-weight: 600;
    font-size: 22px;
}

#navbar-items .navbar-nav{
display: flex;
justify-content:center;
width: 100%;
}
#navbar-items .nav-item{
    margin: 0 5px;
}
#slideContainer{
    margin-top: -9.7px;
}
#slider{
    margin-top: 10px;
    margin-bottom: 5px;
}

#slider .carousel-caption{
    margin-bottom: 5px;
}

#slider .carousel-caption h5{
    font-size: 30px;
    text-shadow:2px 2px 0px #000;
    margin-bottom: 25px;
}
#slider .carousel-caption a{
    padding: 7px 12px;
}

.carousel-indicators{
    bottom: 780px;
}
#carousel-control{
    position: absolute;
    margin-top: 70px;
    height: 50px;
}
@media(min-width:768px){
    #navbar #navbar-items{
        display: flex;
        justify-content: center;
        margin-left: -100px;
    }
    #slider .carousel-caption{
        margin-bottom: 250px;
    }
    #slider .carousel-caption h5{
        font-size: 60px;
        text-shadow:3px 3px 3px #000;
        margin-bottom: 25px;
    }
    #slider .carousel-caption a{
        font-size: 20px;
        padding: 10px 15px;
        margin-top: 20px;
    }
    .carousel-indicators{
        bottom: 300px;
    }
    .carousel-indicators [data-bs-target]{
        width: 100px;
        height:5px;
        margin:0 15px ;
    }
    #carousel-control{
        margin-top:350px;
    }
}

#mini-banners{
margin-bottom: 40px;
}
#mini-banners .card{
    margin-top: 25px;
}

#mini-banners i{
font-size: 25px;
margin-top: 10px;
}
#mini-banners .card-title{
    margin: 7px 0;
}
#mini-banners .btn{
    margin-top: 15px;
    padding: 5px;
}
@media (min-width:768px){
    #mini-banners{
        margin-top: -100px;
    }
}


#featured-container{
margin-bottom: 45px;
}

.title{
    font-size: 32px;
    margin-bottom: 25px;
    position: relative;
}

.title:before{
    width: 100px;
    border-top: 4px solid #7a7a7a;
    content: "";
    position:absolute;
    bottom:70px;
}

#featured-images{
    margin-top: 40px;
}

#featured-images .col-md-4{
    cursor: pointer;
    position: relative;
}

#featured-images .col-md-4:hover > .banner-contet{
opacity: 0.8;
}

#featured-images .banner-contet{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #Fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.4;
    transition: 0.3s;
}

#featured-images img{
    object-fit: contain;
    height: 500px;
    width: 400px;
}

@media(min-width:768px){
    .title{
        font-size:36px ;
    }
    .title:before{
        width: 75px;
        border-top: 4px solid #7a7a7a;
        content: "";
        position:absolute;
        bottom:45px;
    }
    #featured-images .banner-contet{
        opacity: 0;
    }
    
}



#info-container{
    margin-bottom: 40px;
    text-align: center;
}
#info-content{
    padding: 50px 20px;
}
#info-numbers{
    margin: 20px 10px;
}
#info-numbers h3{
    font-size: 36px;
}
#info-banner{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
@media(max-width:1024px){

    .title{
        font-size: 32px;
        margin-bottom: 30px;
        position: relative;
    }
    
    .title:before{
        width: 100px;
        border-top: 4px solid #7a7a7a;
        content: "";
        position:absolute;
        bottom:50px;
    }
}
@media(max-width:768px){

    #info-container .title:before{
        width: 100px;
        border-top: 4px solid #7a7a7a;
        content: "";
        position:absolute;
        bottom:45px;
    }
    
    #info-content .title:before{
        width: 100px;
        border-top: 4px solid #7a7a7a;
        content: "";
        position:absolute;
        bottom:80px;
    }
    #info-content{
        padding: 30px;
    }
}
@media(max-width:320px){
   
    .title:before{
        width: 100px;
        border-top: 4px solid #7a7a7a;
        content: "";
        position:absolute;
        bottom:80px;
    }
    #info-container .title:before{
        bottom:80px;
    }
}


footer{
    padding: 30px;
}

#footer-top{
    margin-bottom: 20px;
}

#footer-top,#footer-top i{
    color: #fff;
}

#social-icons{
    text-align: right;
}
#social-icons i{
    font-size: 25px;
    cursor: pointer;
    margin-right: 12px;
}
#social-icons i:hover{
    color: #7a7a7a;
}



#footer-details{
    margin-bottom: 20px;
}
#news-container,#contact-container,#links-container{
padding:12px;
border: 0;
margin-bottom: 15px;
}
#links-container {
    margin-bottom: 15px;
}
#links-container a{
    text-decoration: none;
}
#links-container a:hover{
    color: #Fff;
}

#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 15px;
}
#footer-bottom i{
    color: red;
}

@media (min-width:768px){
    #news-container{
        padding-right: 20px;
    }
    #links-container{
        padding-left: 20px;
    }
    #contact-container{
        padding: 0 20px;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}